<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.0/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="true"
         bootstrap="test/entry.php"
         colors="true">
<testsuites>
  <testsuite name="system">
    <file>test/UnitTest/System/CoreTest.php</file>
    <file>test/UnitTest/System/ConfigHandlerTest.php</file>
    <file>test/UnitTest/System/LangHandlerTest.php</file>
    <file>test/UnitTest/Tools/TemplateParserTest.php</file>
    <file>test/UnitTest/Tools/PostHandlerTest.php</file>
    <file>test/UnitTest/Tools/SessionHandlerTest.php</file>
  </testsuite>
</testsuites>
</phpunit>